[http]
  proxy=%http_proxy%

[https]
  proxy=%https_proxy% 

[user]
	name = Hafid Lin
  email = hafid-lin@users.noreply.github.com 
[github]
	user = hafid-lin
[push]
	default = current
[alias]
	st = status
	co = checkout
	ci = commit
[core]
	editor = vim
