[http]
  #proxy=%http_proxy%

[https]
  #proxy=%https_proxy% 

[push]
    default = current
[alias]
    st = status
    co = checkout
    ci = commit
    desc = describe
    l = log --oneline --decorate -13
    ll = log --oneline --decorate
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    br = branch
    rb = rebase
    dci = dcommit

[core]
    editor = vim

[core]
    excludesfile = ~/.gitignore_global
    quotepath = false
    autocrlf = false

